<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Angular práctica 2</title>
	<script src="assets/js/angular.js"></script>
	<link rel="stylesheet" href="assets/styles/bootstrap.min.css">
</head>
<body>
	<div class="container" ng-controller="ctrl">
		<div class="row">
			<div class="col-12">
				<h1 class="title"> {{ titulo }} </h1>
			</div>
			<div class="col-12" style="margin-top: 20px;">
				<table>
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Imagen</th>
							<th>Boleto ($)</th>
							<th>Asientos</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in peliculas">
							<td> {{ x.nombre }} </td>
							<td> <img ng-src="{{ x.img }}" width="100" height="100"></td>
							<td> {{ x.precio }} </td>
							<td> {{ x.asientos }} </td>
							<td>
								<!-- ng-show: Muestra u oculta un elemento dependiendo del resultado de la condición. También existe
								ng-hide -->

								<button class="btn btn-success" ng-show="x.asientos > 0" ng-click="comprar($index)">Comprar</button>
								
								<!-- ng-class: Aplica una clase a un nodo a partir de una condición -->
								<!-- ng-click: Asigna una función para el clic -->
								<!-- <button class="btn btn-primary" ng-class="(x.asientos == 0) ? 'btn btn-danger disabled': ''" ng-click="comprar($index)">Comprar</button> -->
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script>
	var app = angular.module('app', []);
	app.controller('ctrl', function($scope) {
		$scope.titulo = 'Películas';
		$scope.peliculas = [ {
				nombre: 'Star wars',
				img: 'assets/img/hello-there.jpg',
				precio: 37,
				asientos: 10
			}, {
				nombre: 'Star wars 2',
				img: 'assets/img/anakin.jpg',
				precio: 37,
				asientos: 0
			}, {
				nombre: 'Avengers',
				img: 'assets/img/hawkeye.jpg',
				precio: 37,
				asientos: 150
			}, {
				nombre: 'Avengers 2',
				img: 'assets/img/Thanos.jpg',
				precio: 37,
				asientos: 150
			}
		];

		//Comprar fue definido dentro del controlador
		$scope.comprar = function(index) {
			if($scope.peliculas[index].asientos == 0)
				alert('Asientos agotados');

			else {
				$scope.peliculas[index].asientos--;
			}

		}
	});

</script>
</html>