<!DOCTYPE html>
<html lang="es" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Práctica 6</title>
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/jquery-3.3.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/styles.css">
</head>

<body>
    <!-- Menú lateral -->
    <div class="container-fluid" ng-controller="ctrl" style="padding-left: 0;">
        <div class="row">
            <div class="col-2 menu">
                <div class="img-container">
                    <img src="assets/img/iconfinder_user_male_172625.svg" alt="Usuario">
                </div>
                <div class="list-container">
                    <ul class="menu-list">
                        <li>
                            Catálogo
                            <ul class="submenu">
                                <li><a href="#" class="btn btn-link" ng-click="loadPage(1)">Usuarios</a></li>
                                <li><a href="#" class="btn btn-link" ng-click="loadPage(2)">Libros</a></li>
                            </ul>
                        </li>
                        <li>
                            Préstamos
                            <ul class="submenu">
                                <li><a href="#" class="btn btn-link" ng-click="loadPage(3)">Domicilio</a></li>
                                <li><a href="#" class="btn btn-link" ng-click="loadPage(4)">Devoluciones</a></li>
                            </ul>
                        </li>
                        <li>Configuración
                            <ul class="submenu">
                                <li><a href="#" class="btn btn-link" ng-click="loadPage(5)">Préstamos</a></li>
                                <li><a href="#" class="btn btn-link" ng-click="loadPage(6)">Recargos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Cargar contenido aquí. -->
            <div class="col-10 main-content" id="main-content">

            </div>
        </div>
    </div>
</body>
<script src="assets/js/main-script.js"></script>

</html>